{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">

        <!-- ===== BOX ICONS ===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <title>Reboredo - Portfolio</title>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                
                <div>
                    <a href="#" class="nav__logo">{{ home.name }}</a>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="#skills" class="nav__link">Skills</a></li>
                        <li class="nav__item"><a href="#portfolio" class="nav__link">Portfolio</a></li>
                        <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                        <li class="nav__item"><a href="#education" class="nav__link">Education</a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home" id="home">
                <div class="home__container bd-grid">
                    <h1 class="home__title"><span>{{ home.greetings_1 }}</span><br>{{ home.greetings_2 }}.</h1>

                    <div class="home__scroll">
                        <a href="#about" class="home__scroll-link"><i class='bx bx-up-arrow-alt' ></i>Scroll for more</a>
                    </div>

                    <img src="{{ home.picture.url }}" alt="" class="home__img">
                </div>
            </section>
            
            <!--===== ABOUT =====-->
            <section class="about section" id="about">
                <h2 class="section-title">About</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                        <img src="{{ about.profile_img.url }}" alt="" class="image-main">
                    </div>

                    <div>
                        <h2 class="about__subtitle">{{ about.heading }}</h2>
                        <span class="about__profession">{{ about.career }}</span>
                        <p class="about__text">{{ about.description }}</p>

                        <div class="about__social">

                            {% for profile in about.profile_set.all %}
                                <a href="{{ profile.link }}" class="about__social-icon">
                                    <i class='bx bxl-{{ profile.social_name }}' ></i>
                                </a>
                            {% endfor %}
                            
                        </div>
                    </div>
                </div>
            </section>

            <!--===== SKILLS =====-->
            <section class="skills section" id="skills">
                <h2 class="section-title">Skills</h2>

                <div class="skills__container bd-grid">
                    <div class="skills__box">
                        {% for category in categories %}
                        <h3 class="skills__subtitle">{{category.name}}</h3>
                            {% for skills in category.skills_set.all %}
                            
                                <span class="skills__name">{{skills.skill_name}}</span>
                            {% endfor %}
                        {% endfor %}
                        
                    </div>

                    <div class="skills__img">
                        <img src="{% static 'assets/img/skill.jpg' %}" alt="">
                    </div>
                </div>
            </section>

            <!--===== PORTFOLIO =====-->
            <section class="portfolio section" id="portfolio">
                <h2 class="section-title">Portfolio</h2>

                
                <div class="portfolio__container bd-grid">

                    {% for portfolio in portfolios %}
                    
                    <div class="portfolio__img">
                        <img src="{{ portfolio.image.url }}" alt="">

                        <div class="portfolio__link">
                            <a href="{{ portfolio.link }}" class="portfolio__link-name">View details</a>
                        </div>
                    </div>

                    {% endfor %}
                    
                </div>
            </div>
            <section id="projects">
                <h2 class="section-title">Activities</h2>
                <div class="project-grid">
                    <div class="project">
                        <h3>HTML/CSS Website</h3>
                        <p>A simple website I built using HTML and CSS.</p>
                        <ul>
                            <li>• A clean and user-friendly layout.</li>
                            <li>• Interactive navigation.</li>
                            <li>• Custom styling for good visuals.</li>
                        </ul>
         
                    </div>

                    <div class="project">
                        <h3>Django Web App</h3>
                        <p>A web application built using Django for backend functionality.</p>
                        <ul>
                            <li>• Showcases my projects and skills in using Django.</li>
                            <li>• Static content with a clean layout.</li>
                            <li>• Highlights my work in a professional manner.</li>
                        </ul>
                    </div>
                    <div class="project">
                        <h3>Point of Sale System</h3>
                        <p>• A responsive POS built with HTML, CSS, and PYTHON (DJANGO) for better user experience.</p>
                    </div>
                    <div class="project">
                        <h3>Creating Text-Based Java Projects (OOP)</h3>
                        <p>I have created several text-based Java projects, ranging from simple command-line applications to systems. These projects have helped me strengthen my understanding of Java fundamentals like object-oriented programming etc. </p>
                        <p> Notable projects include calculators, Systems, and mini-games, which have enhanced my problem-solving, debugging, and coding efficiency.</p>
                    </div>
                </div>
            </section>
                
            </section>
            <!--===== EDUCATION =====-->
            <section id="education">
                <h2 class="section-title">Education</h2>
                <div class="timeline">
                    <div class="timeline-item">
                        <div class="timeline-content">
                            <h3>2023 - Present</h3>
                            <p>BS Information Technology at STI College, Sta. Maria</p>
                            <p>(Tertiary)</p>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-content">
                            <h3>2021 - 2023</h3>
                            <p>Immaculate Conception Polytechnic (Senior HighSchool) - STEM Strand</p>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-content">
                            <h3>2016 - 2021</h3>
                            <p>Sta.Cruz HighSchool / Pulong Buhangin National HighSchool</p>
                            <p>(High School Diploma)</p>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-content">
                            <h3>2010 - 2016</h3>
                            <p>(Primary Education (Elementary))</p>
                        </div>
                    </div>
                </div>
            </section>

            <!--===== CONTACT =====-->
            <section class="contact section" id="contact">
                <h2 class="section-title">Contact</h2>

                <div class="contact__container bd-grid">
                    <div class="contact__info">
                        <h3 class="contact__subtitle">EMAIL</h3>
                        <span class="contact__text">tristanreboredo1018@gmail.com </span>

                        <h3 class="contact__subtitle">ADRESS</h3>
                        <span class="contact__text">Sta.Maria Bulacan, Philippines</span>
                    </div>

                    <div class="contact__info">

                        <h3 class="contact__subtitle">PHONE NUMBER</h3>
                        <span class="contact__text">+63 965 714 8314</span>

                    </div>
                </div>
            </section>
        </main>

         <!--===== RESUME =====-->

         <section id="resume" class="resume section">
            <h2 class="section-title">Resume</h2>
            <div class="resume__container">
                <a href="{% static 'assets/img/Resume.pdf' %}" class="resume__button" download>
                    <i class='bx bx-download'></i> Download CV
                </a>
            </div>
        </section>
        

        <!--===== FOOTER =====-->
        <footer class="footer section">
            <div class="footer__container bd-grid">
                <div class="footer__data">
                    <h2 class="footer__title">Developed by Tristan Reboredo</h2>
                    <p class="footer__text">My personal portolio website.</p>
                </div>

                <div class="footer__data">
                    <h2 class="footer__title">EXPLORE</h2>
                    <ul>
                        <li><a href="#home" class="footer__link">Home</a></li>
                        <li><a href="#about" class="footer__link">About</a></li>
                        <li><a href="#skills" class="footer__link">Skills</a></li>
                        <li><a href="#portfolio" class="footer__link">Portfolio</a></li>
                        <li><a href="#Contact" class="footer__link">Contact</a></li>
                    </ul>
                </div>
                
                <div class="footer__data">
                    <h2 class="footer__title">FOLLOW</h2>
                    <a href="#" class="footer__social"><i class='bx bxl-reddit' ></i></a>
                    <a href="#" class="footer__social"><i class='bx bxl-instagram' ></i></a>
                    <a href="#" class="footer__social"><i class='bx bxl-' ></i></a>
                </div>


            </div>
        </footer>

        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="{% static 'assets/js/main.js' %}"></script>
    </body>
</html>